--
-- PostgreSQL database dump
--

-- Dumped from database version 15.10 (Debian 15.10-1.pgdg120+1)
-- Dumped by pg_dump version 15.10 (Debian 15.10-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: education_category_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.education_category_enum AS ENUM (
    'бібліотека',
    'школа',
    'розваги',
    'музей',
    'садочок'
);


ALTER TYPE public.education_category_enum OWNER TO postgres;

--
-- Name: geography_category_enum; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.geography_category_enum AS ENUM (
    'річка',
    'озеро',
    'гора',
    'ліс',
    'кар’єра',
    'природа'
);


ALTER TYPE public.geography_category_enum OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agriculture; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.agriculture (
    id integer NOT NULL,
    name character varying NOT NULL,
    details character varying NOT NULL,
    "communityId" integer
);


ALTER TABLE public.agriculture OWNER TO postgres;

--
-- Name: agriculture_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.agriculture_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.agriculture_id_seq OWNER TO postgres;

--
-- Name: agriculture_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.agriculture_id_seq OWNED BY public.agriculture.id;


--
-- Name: community; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.community (
    id integer NOT NULL,
    name character varying NOT NULL,
    edrpou_code character varying NOT NULL,
    region character varying NOT NULL,
    district character varying NOT NULL,
    center_settlement character varying NOT NULL,
    postal_index character varying NOT NULL,
    email character varying NOT NULL,
    phone character varying NOT NULL,
    website character varying,
    photos text[] NOT NULL,
    history character varying NOT NULL,
    settlements text[] NOT NULL
);


ALTER TABLE public.community OWNER TO postgres;

--
-- Name: community_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.community_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.community_id_seq OWNER TO postgres;

--
-- Name: community_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.community_id_seq OWNED BY public.community.id;


--
-- Name: economy; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.economy (
    id integer NOT NULL,
    budget double precision,
    industry_amount double precision,
    trade_amount double precision,
    enterprises_amount double precision,
    community_id integer
);


ALTER TABLE public.economy OWNER TO postgres;

--
-- Name: economy_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.economy_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.economy_id_seq OWNER TO postgres;

--
-- Name: economy_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.economy_id_seq OWNED BY public.economy.id;


--
-- Name: education; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.education (
    id integer NOT NULL,
    name character varying NOT NULL,
    category public.education_category_enum NOT NULL,
    "communityId" integer
);


ALTER TABLE public.education OWNER TO postgres;

--
-- Name: education_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.education_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.education_id_seq OWNER TO postgres;

--
-- Name: education_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.education_id_seq OWNED BY public.education.id;


--
-- Name: geography; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.geography (
    id integer NOT NULL,
    name character varying NOT NULL,
    category public.geography_category_enum NOT NULL,
    community_id integer
);


ALTER TABLE public.geography OWNER TO postgres;

--
-- Name: geography_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.geography_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.geography_id_seq OWNER TO postgres;

--
-- Name: geography_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.geography_id_seq OWNED BY public.geography.id;


--
-- Name: infrastructure; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.infrastructure (
    id integer NOT NULL,
    roads boolean NOT NULL,
    railway boolean NOT NULL,
    busses boolean NOT NULL,
    stations integer NOT NULL,
    community_id integer
);


ALTER TABLE public.infrastructure OWNER TO postgres;

--
-- Name: infrastructure_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.infrastructure_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.infrastructure_id_seq OWNER TO postgres;

--
-- Name: infrastructure_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.infrastructure_id_seq OWNED BY public.infrastructure.id;


--
-- Name: population; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.population (
    id integer NOT NULL,
    amount integer,
    preschool_age integer,
    school_age integer,
    working_age integer,
    retired integer,
    voters integer,
    nationalities jsonb NOT NULL,
    community_id integer
);


ALTER TABLE public.population OWNER TO postgres;

--
-- Name: population_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.population_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.population_id_seq OWNER TO postgres;

--
-- Name: population_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.population_id_seq OWNED BY public.population.id;


--
-- Name: agriculture id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agriculture ALTER COLUMN id SET DEFAULT nextval('public.agriculture_id_seq'::regclass);


--
-- Name: community id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community ALTER COLUMN id SET DEFAULT nextval('public.community_id_seq'::regclass);


--
-- Name: economy id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.economy ALTER COLUMN id SET DEFAULT nextval('public.economy_id_seq'::regclass);


--
-- Name: education id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.education ALTER COLUMN id SET DEFAULT nextval('public.education_id_seq'::regclass);


--
-- Name: geography id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.geography ALTER COLUMN id SET DEFAULT nextval('public.geography_id_seq'::regclass);


--
-- Name: infrastructure id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.infrastructure ALTER COLUMN id SET DEFAULT nextval('public.infrastructure_id_seq'::regclass);


--
-- Name: population id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.population ALTER COLUMN id SET DEFAULT nextval('public.population_id_seq'::regclass);


--
-- Data for Name: agriculture; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.agriculture (id, name, details, "communityId") FROM stdin;
1	Пасовища		1
2	Виноробство		2
3	Угіддя	2304 га с/г	4
4	Ліс	11186 га	4
5	Ліс	28800 га	5
6	Рілля	0,0187 тис га	6
\.


--
-- Data for Name: community; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: economy; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.economy (id, budget, industry_amount, trade_amount, enterprises_amount, community_id) FROM stdin;
1	236852.212	2	10	5	1
2	236852.212	2	10	5	2
3	39226.9	5	30	10	3
4	15576000000	1	5	1	4
5	169710000	3	111	21	5
6	65840072.73	5	20	11	6
\.


--
-- Data for Name: education; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.education (id, name, category, "communityId") FROM stdin;
1	Ліцей	школа	1
2	Гімназії	школа	1
3	Садочки	школа	1
4	ЗОШ	школа	1
5	Ліцеї	школа	2
6	Гімназії	школа	2
7	Садочки	школа	2
8	ЗОШ	школа	2
9	Ліцей	школа	3
10	Гімназії	школа	3
11	Садочки	школа	3
12	Позашкільна освіта	школа	3
13	ЗЗСО	школа	5
14	Садочки	школа	5
\.


--
-- Data for Name: geography; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.geography (id, name, category, community_id) FROM stdin;
1	Ліс	ліс	1
2	Гори	гора	1
3	Уж	річка	2
4	Озера	озеро	2
5	Уж	річка	3
6	Тур'я	річка	3
7	Латориця	річка	4
8	Тур'я	річка	5
9	Туричка	річка	5
10	Велика Ружа	річка	5
11	Клокотива	річка	5
\.


--
-- Data for Name: infrastructure; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.infrastructure (id, roads, railway, busses, stations, community_id) FROM stdin;
1	t	f	t	0	1
2	t	t	t	2	2
3	t	t	t	1	3
4	t	t	t	4	4
5	t	f	t	0	5
6	t	f	t	0	6
\.


--
-- Data for Name: population; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: agriculture_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.agriculture_id_seq', 6, true);


--
-- Name: community_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.community_id_seq', 6, true);


--
-- Name: economy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.economy_id_seq', 6, true);


--
-- Name: education_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.education_id_seq', 14, true);


--
-- Name: geography_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.geography_id_seq', 11, true);


--
-- Name: infrastructure_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.infrastructure_id_seq', 6, true);


--
-- Name: population_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.population_id_seq', 6, true);


--
-- Name: population PK_1cedb69330ebde5aee2cdc9bda4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.population
    ADD CONSTRAINT "PK_1cedb69330ebde5aee2cdc9bda4" PRIMARY KEY (id);


--
-- Name: agriculture PK_20d93dcba77808d23c5f6c0d9ed; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agriculture
    ADD CONSTRAINT "PK_20d93dcba77808d23c5f6c0d9ed" PRIMARY KEY (id);


--
-- Name: geography PK_261600bd95a4d04ee44335e9cc6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.geography
    ADD CONSTRAINT "PK_261600bd95a4d04ee44335e9cc6" PRIMARY KEY (id);


--
-- Name: infrastructure PK_8161b97846571f8e8b062ea8ec6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.infrastructure
    ADD CONSTRAINT "PK_8161b97846571f8e8b062ea8ec6" PRIMARY KEY (id);


--
-- Name: education PK_bf3d38701b3030a8ad634d43bd6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.education
    ADD CONSTRAINT "PK_bf3d38701b3030a8ad634d43bd6" PRIMARY KEY (id);


--
-- Name: community PK_cae794115a383328e8923de4193; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.community
    ADD CONSTRAINT "PK_cae794115a383328e8923de4193" PRIMARY KEY (id);


--
-- Name: economy PK_fddfd6968f95738a124ac640678; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.economy
    ADD CONSTRAINT "PK_fddfd6968f95738a124ac640678" PRIMARY KEY (id);


--
-- Name: population REL_4343cdae4a9b57549a7708a4d1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.population
    ADD CONSTRAINT "REL_4343cdae4a9b57549a7708a4d1" UNIQUE (community_id);


--
-- Name: infrastructure REL_7e9fe3c801e61782d0fc5cdf0a; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.infrastructure
    ADD CONSTRAINT "REL_7e9fe3c801e61782d0fc5cdf0a" UNIQUE (community_id);


--
-- Name: economy REL_c0bb4ea3ac14a2c159b804e9bb; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.economy
    ADD CONSTRAINT "REL_c0bb4ea3ac14a2c159b804e9bb" UNIQUE (community_id);


--
-- Name: education FK_1cd611235ee9f55b383737a0db5; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.education
    ADD CONSTRAINT "FK_1cd611235ee9f55b383737a0db5" FOREIGN KEY ("communityId") REFERENCES public.community(id) ON DELETE CASCADE;


--
-- Name: population FK_4343cdae4a9b57549a7708a4d14; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.population
    ADD CONSTRAINT "FK_4343cdae4a9b57549a7708a4d14" FOREIGN KEY (community_id) REFERENCES public.community(id) ON DELETE CASCADE;


--
-- Name: infrastructure FK_7e9fe3c801e61782d0fc5cdf0a6; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.infrastructure
    ADD CONSTRAINT "FK_7e9fe3c801e61782d0fc5cdf0a6" FOREIGN KEY (community_id) REFERENCES public.community(id) ON DELETE CASCADE;


--
-- Name: geography FK_b8722bd526f80684b8d1654c4da; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.geography
    ADD CONSTRAINT "FK_b8722bd526f80684b8d1654c4da" FOREIGN KEY (community_id) REFERENCES public.community(id) ON DELETE CASCADE;


--
-- Name: economy FK_c0bb4ea3ac14a2c159b804e9bb7; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.economy
    ADD CONSTRAINT "FK_c0bb4ea3ac14a2c159b804e9bb7" FOREIGN KEY (community_id) REFERENCES public.community(id) ON DELETE CASCADE;


--
-- Name: agriculture FK_ff4c9164a64a479cda96dfdf06c; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.agriculture
    ADD CONSTRAINT "FK_ff4c9164a64a479cda96dfdf06c" FOREIGN KEY ("communityId") REFERENCES public.community(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

